<!DOCTYPE html>
<html>
    <head>
        <title>Live Messages</title>
        <!-- bower:js -->
        <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="/lib/highcharts/highcharts.js"></script>
        <script src="/lib/highcharts/highcharts-more.js"></script>
        <script src="/lib/highcharts/modules/exporting.js"></script>
        <!-- endbower -->
        <!-- inject:js -->
        <script src="/js/bc.js"></script>
        <script src="/js/bc2.js"></script>
        <script src="/js/bc3.js"></script>
        <script src="/js/bc4.js"></script>
        <script src="/js/bc5.js"></script>
        <!-- endinject -->
        
    </head>
    <body>
        <script type="text/javascript">
            $(document).ready(function() {
                buildTrend();
                buildTrend2();
                buildTrend3();
                buildTrend4();
                buildTrend5();
            });
        </script>
        <div id="container">
        </div>
        
    </body>
</html>